<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="w-full min-h-screen bg-[#111B21] text-white py-5 flex flex-col items-center justify-center">
    <div class="flex flex-col items-center gap-5 px-4">
      <img class="w-1/2" src="/images/logo.png" alt="">
      <form class="w-full" action="/login" method="post">
        <input class="px-3 mt-5 py-2 border-[1px] border-[#017561] rounded-md block w-full bg-zinc-900" type="text" placeholder="username" name="username">
        <input class="px-3 mt-5 py-2 border-[1px] border-[#017561] rounded-md block w-full bg-zinc-900" type="password" placeholder="password" name="password">
        <input class="w-full bg-[#017561] px-3 py-3 rounded-md mt-4" type="submit" value="Log In">
      </form>
      <span>Don't have an account ? <a href="/" class="text-[#017561]">Sign Up</a></span>
    </div>
  </div>
</body>

</html>